body {
  background-color: #fbe9e7;
  font-size: 16px;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}

h1 {
  color: #ff5722;
  font-size: 1.5em;
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1.1em;
}

h4 {
  color: #ff5722;
  font-size: 1.1em;
}

.input-field {
  > label {
    color: #ff6e40;
    font-size: 1.2em;
  }
}

input[type="number"]:not(.browser-default):focus:not([readonly]) + label {
  color: #ff3d00;
}

.collection {
  border-color: #ffccbc;
  &.with-header {
    .collection-header {
      background-color: #ffccbc;
    }
  }

  &-item {
    &:nth-child(even) {
      background-color: #fbe9e7;
    }

    &:nth-child(odd) {
      background-color: #ffccbc;
    }
  }
}
